/* Chart bar heights and width percentages */
.chart-height-6 {
    height: 6%;
}

.chart-height-10 {
    height: 10%;
}

.chart-height-20 {
    height: 20%;
}

.chart-height-30 {
    height: 30%;
}

.chart-height-40 {
    height: 40%;
}

.chart-height-50 {
    height: 50%;
}

.chart-height-60 {
    height: 60%;
}

.chart-height-70 {
    height: 70%;
}

.chart-height-80 {
    height: 80%;
}

.chart-height-90 {
    height: 90%;
}

.chart-height-100 {
    height: 100%;
}

.chart-width-0 {
    width: 0%;
}

.chart-width-5 {
    width: 5%;
}

.chart-width-10 {
    width: 10%;
}

.chart-width-15 {
    width: 15%;
}

.chart-width-20 {
    width: 20%;
}

.chart-width-25 {
    width: 25%;
}

.chart-width-30 {
    width: 30%;
}

.chart-width-35 {
    width: 35%;
}

.chart-width-40 {
    width: 40%;
}

.chart-width-45 {
    width: 45%;
}

.chart-width-50 {
    width: 50%;
}

.chart-width-55 {
    width: 55%;
}

.chart-width-60 {
    width: 60%;
}

.chart-width-65 {
    width: 65%;
}

.chart-width-70 {
    width: 70%;
}

.chart-width-75 {
    width: 75%;
}

.chart-width-80 {
    width: 80%;
}

.chart-width-85 {
    width: 85%;
}

.chart-width-90 {
    width: 90%;
}

.chart-width-95 {
    width: 95%;
}

.chart-width-100 {
    width: 100%;
}