.advdv-width-0 {
    width: 0%
}

.advdv-width-5 {
    width: 5%
}

.advdv-width-10 {
    width: 10%
}

.advdv-width-15 {
    width: 15%
}

.advdv-width-20 {
    width: 20%
}

.advdv-width-25 {
    width: 25%
}

.advdv-width-30 {
    width: 30%
}

.advdv-width-35 {
    width: 35%
}

.advdv-width-40 {
    width: 40%
}

.advdv-width-45 {
    width: 45%
}

.advdv-width-50 {
    width: 50%
}

.advdv-width-55 {
    width: 55%
}

.advdv-width-60 {
    width: 60%
}

.advdv-width-65 {
    width: 65%
}

.advdv-width-70 {
    width: 70%
}

.advdv-width-75 {
    width: 75%
}

.advdv-width-80 {
    width: 80%
}

.advdv-width-85 {
    width: 85%
}

.advdv-width-90 {
    width: 90%
}

.advdv-width-95 {
    width: 95%
}

.advdv-width-100 {
    width: 100%
}